* {
    margin: 0;
    padding: 0;
}

.hor_wrapper, .vert_wrapper {
    display: flex;
}

.hor_wrapper {
    flex-direction: row;
}


.vert_wrapper {
    flex-direction: column;
}

.body_wrapper {
    height: 100vh;
    box-sizing: border-box;
}

.header_wrapper {
    margin-top: 3%;
    justify-content: center;
}

.main_wrapper {
    margin: 3% 0px;
    flex: 1;
    max-height: 100%;
    overflow: auto;
}

.footer_wrapper {
    margin-bottom: 3%;
    justify-content: center;
}

.settings_bar {
    justify-content: center;
}

.submit_bar {
    display: flex;
    align-items: center;
}

.maze_wrapper{
    flex: 1;
}

.maze {
    justify-content: center;
}

.execute_wrapper {
    justify-content: center
}


.toolbar {
    justify-content: center;
}

.maze_node {
    padding: 10px;
}

.walkable {
    background-color: #bebebe;
}

.wall {
    background-color:  #508f92; 
}

.start {
    background-color: #00c208;
}

.end {
    background-color:  #a10000;
}