@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Montserrat:wght@300&family=Source+Sans+Pro&display=swap');
* {
    margin: 0;
    padding: 0;

    font-family: 'Jost', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}



.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    vertical-align: top;
}

input {
    text-align: center;
    border: none;
    background: transparent;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
}

button {
    padding: 3px 10px; 
    border: solid 3px;
    border-color:  #8f99d9;
    background-color: transparent;
    border-radius: 5px;
}

button:hover {
    background-color: #8f99d9;
    color: white;
}

button:active {
    background-color: #8f99d9;
    transform: translateY(4px);
    color: white;
}

.hor_wrapper, .vert_wrapper {
    display: flex;
}

.hor_wrapper {
    flex-direction: row;
}


.vert_wrapper {
    flex-direction: column;
}

.body_wrapper {
    height: 100vh;
    box-sizing: border-box;
}

.header_wrapper {
    background-color: #8f99d9;
    padding-top: 1%;
    justify-content: center;
}

.header_wrapper {
    color: white;
}

.main_wrapper {
    flex: 1;
    max-height: 100%;
    overflow: auto;
}

.settings_bar, .maze_wrapper > div{
    margin: 1% 0px;
}

.toolbar {
    margin: 5% 0px;
}

.size_bar > div, .submit_bar, .maze_button_wrapper > div, .toolbar > div {
    margin: 0px 5px;
}

.footer_wrapper {
    background-color: #8f99d9;
    padding-bottom: 1%;
    justify-content: center;
}

.name_wrapper {
    color: white;
}

.settings_bar {
    justify-content: center;
}

.submit_bar {
    display: flex;
    align-items: center;
}

.maze_wrapper{
    flex: 1;
}

.maze {
    justify-content: center;
}


.maze_button_wrapper {
    justify-content: center;
}

.error_wrapper {
    justify-content: center;
}

.error_box {
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #a10000;
    display: none;
    padding: 5px;
}


.toolbar {
    justify-content: center;
}

.maze_node {
    padding: 10px;
    border: solid 3px;
}

.walkable {
    background-color: #bebebe;
    border-color: #bebebe;
}

.wall {
    background-color:  #7d7d7d; 
    border-color: #7d7d7d;
}

.start {
    background-color: #00c208;
    border-color: #00c208;
}

.end {
    background-color:  #a10000;
    border-color: #a10000;
}

.active_tool {
    background-color: #8f99d9;
    color: white;
}

.path {
    border: solid 3px;
    border-color: #00c208;
}